.login{
  text-align: center;
}
body{
  background-color: #3498DB;
  color:#AEB6BF;
}
input.loguear{
  width: 30%;
}

div div div svg{
  border-radius: 5%;
}

input.resultados{
  margin-bottom: 8%;
}
